$kodeGreen:#1bff00;

body{
	background:#333;
}

@keyframes randomBackground{
    0% {background:url("../img/isotipo-blanco.png");background-size:cover;}
    25% {background:url("../img/html-5.png");background-size:cover;}
    50% {background:url("../img/css-3.png");background-size:cover;}
    75% {background:url("../img/bootstrap.png");background-size:cover;}
    100% {background:url("../img/isotipo-blanco.png");background-size:cover;}
}

.font-marker{
	font-family: "Permanent Marker", cursive;
}

.green-text{
	color:$kodeGreen;
}

.cover-wrapper{
	display: flex;
    flex-direction: column;
    align-items: center;
    img{
    	width: 40%;
    	margin-top: 20px;
    }
	p{
		color:$kodeGreen;
		font-family: 'Permanent Marker', cursive;
	    width: 50%;
	    text-align: right;
	    font-size: 30px;
	    margin-top: -30px;
	    padding-right: 50px;
	}
}

.team-wrapper{
    display: flex;
    color: $kodeGreen;
    width: 100%;
    font-family: "Permanent Marker", cursive;
    align-items: center;
    justify-content: space-between;
    margin-bottom:30px;
    span{
	    flex-basis: 50%;
    	font-size: 30px;
    	margin-right:30px;
    }
    input{
	    background: black;
	    border: 1px solid green;
	    color: $kodeGreen;
	    height: 50px;
	    font-family: 'Press Start 2P', cursive;
	    text-align: right;
	    margin-right:30px;
	    width:50%;
    }
    .btn{
    	width:50px;
    	height:50px;
    	border:1px solid $kodeGreen;
    	align-items: center;
    	display: flex;
    	font-size:28px;
    	&.btn-outline-primary{
    		border:1px solid $kodeGreen;
    		color:$kodeGreen;
    	}
    	&:hover{
    		color:#333;
    		border:1px solid $kodeGreen;
    		background:$kodeGreen;
    		cursor:pointer;
    	}
    }
}

.random-wrapper{
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color:$kodeGreen;
	font-family: "Permanent Marker", cursive;
	.category-img-wrapper{
		width:200px;
		height: 200px;
		&.randomized{
			animation-name:randomBackground;
			animation-duration: .3s;
			animation-iteration-count: infinite;
		}
		&.icon-kode{
			background:url("../img/isotipo-blanco.png");
			background-size: cover;
		}
		&.icon-html{
			background:url("../img/html-5.png");
			background-size: cover;
		}
		&.icon-css{
			background:url("../img/css-3.png");
			background-size: cover;
		}
		&.icon-bs{
			background:url("../img/bootstrap.png");
			background-size: cover;
		}
	}
	.difficulty-wrapper{
		margin-top:20px;
		font-size:30px;
		text-align:center;
	}
	.btn-dark{
		border:1px solid white;
		cursor:pointer;
	}
}